<%- include("header") -%>

<% test.forEach(result => { %>
    <h1><%= result.musteri_no%></h1>
    <% }); %>

    <form action="/" method="post">
        <input type="text" name="newCityCode" placeholder="City Code">
        <input type="text" name="newCity" placeholder="City">
        <button type="submit" name="list">+</button>
    </form>

<%- include("footer") -%>